@import 'fonts.scss';
@import 'globals.scss';
@import 'base.scss';


.content {
	min-height: 100vh;
	padding-top: 56px;
	padding-bottom: $m;
	background: $blackberry;
	background-image: url('url:../img/bg-desktop.svg');
	background-repeat: repeat-y;
	background-size: 100vw 1942px;
	&.mobile {
		background-image: url('url:../img/bg-mobile.svg');
		background-size: 100vw 1942px;
	}
}

nav {
	background: $blackberry;
	background-image: url('url:../img/noise.svg');
	z-index: 1000;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0 $m;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $brocolli;
	> ul > li {
		display: inline-block;
		margin-left: $m;
		font-family: 'evolventa-bold';
	}
	&.mobile {
		justify-content: center;
		> a:nth-child(2) {
			position: absolute;
			right: $m;
			top: 15px;
		}
	}
}

.mobile-menu {
	background: $blackberry;
	z-index: 1000;
	position: fixed;
	top: 56px;
	width: 100%;
	height: 100%;
	display: none;
	&.true {
		display: block;
	}
	> ul > li {
		margin: $m;
	}
}

.logo {
	@include butler-black;
	font-size: 24px;
	padding-top: 16px;
	height: 56px;
	color: $rambutan;
	> span {
		background:$light-gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.crumbs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: $m;
}

.grid {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: $hm;
	> div {
		margin-left: $hm;
		flex: 1;
	}
	> div:last-child {
		margin-right: $hm;
	}
	&.apart-2 {
		justify-content: space-between;
		:last-child {
			margin-left: 0;
		}
	}
}

.near-amount {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	> img {
		display: inline-block;
		margin-top: -3px;
		padding-left: $hm;
	}
}

.usd-amount {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	> img {
		display: inline-block;
		margin-top: -3px;
		padding-left: $hm;
	}
}