@import 'globals.scss';

.token-image {
	max-width: 400px;
	margin-bottom: -4px;
	> img {
		width: 100%;
		object-fit: cover;
		object-position: center top;
		aspect-ratio: 1 / 1;
		overflow: hidden;
		border-top-right-radius: 20%;
		border-bottom-left-radius: 20%;
	}
}

.token-featured {
	background-image: url('url:../img/line-box.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding: $m;
	width: calc(100% - 2 * $m);
	max-width: 400px;
	margin: $m auto;

	> h2 {
		@include butler-black;
		text-align: center;
		margin-top: $dm;
	}

	> .token-image {
		> img {
			aspect-ratio: 1.096 / 1;
			box-shadow: $soft-glow;
		}
	}
}

.summary-teaser {

	> div:nth-child(1) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	> div:nth-child(2) {

		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	
		padding-bottom: 2px;

		> .feature-card {
			max-width: min(400px, 40vw);
			margin-right: $m;
			display: inline-block;
			padding: 1px;
			background: $light-gradient;
	
			&:last-child {
				margin-right: 0;
			}
		
			> div {
				background: $blackberry;
				background-image: url('url:../img/noise.svg');
				> div {
					background: $light-gradient-alpha;
					padding: $m;
					text-align: center;
		
					> h3 {
						height: 24px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
		
					> .token-image {
						> img {
							box-shadow:
								0 0 4px rgba(255, 255, 255, 0.3),
								0 0 16px rgba(255, 255, 255, 0.2);
						}
					}
				}
			}
		}
	}

	
}

