@import 'globals.scss';

.media {
	> img, > canvas {
		width: 100%;
		object-fit: cover;
		object-position: center top;
		aspect-ratio: 1 / 1;
		overflow: hidden;
		border-top-right-radius: 20%;
		border-bottom-left-radius: 20%;
		box-shadow: $soft-glow;
	}
}

.media.featured {
	background-image: url('url:../img/line-box.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding: $m;
	width: min(600px, calc(100% - 2 * $m));
	margin: $m auto;
	> img, > canvas {
		margin-top: -2px;
		aspect-ratio: 1.09 / 1;
	}
}

.media.token {
	width: min(600px, 100%);
	margin: $m auto;
	> img, > canvas {
		aspect-ratio: 1 / 1;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10%;
	}
}

.feature-card {
	width: min(400px, 40vw);
	margin-right: $hm;
	display: inline-block;
	padding: 1px;
	background: $light-gradient;

	&:last-child {
		margin-right: 0;
	}

	> div {
		background: $blackberry;
		background-image: url('url:../img/noise.svg');
		> div {
			background: $light-gradient-alpha;
			padding: $m;
			text-align: center;


			> h3, > p {
				width: 100%;
				display: inline-block;
				word-break: break-all;
				margin-left: 0;
				margin-right: 0;
			}

			> h3 {
				height: 24px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			> p {
				height: 40px;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			> .media > img {
				box-shadow: $soft-glow;
			}
		}
	}

	&.tall {
		width: 100%;
		> div > div {
			padding: 0 $hm 0 $hm;
			> .media > img {
				aspect-ratio: 3 / 4;
				border-top-right-radius: 0;
				border-bottom-left-radius: 10%;	
			}
		}
	}
}

.featured-teaser {
	text-align: center;

	> div:nth-child(1) {
		overflow: hidden;
		width: 100vw;
		
		> div {
			white-space: nowrap;
			padding-bottom: 2px;

			> div {
				width: 100%;
				display: inline-block;
				text-align: center;

				> .feature-card {
					display: inline-block;
					margin: auto;
				}
			}

		}
	}

	> .titles {
		> h2 {
			@include butler-black;
			height: 28px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	
		> p {
			height: 20px;
		}
	}

	.pills {
		text-align: center;
		> div {
			border-radius: 2px;
			background: $lime;
			display: inline-block;
			height: 4px;
			width: 8px;
			opacity: 0.5;
			margin: 0 4px;
			transition: 0.32s cubic-bezier(0.215, 0.610, 0.355, 1);
			&.active {
				width: 24px;
				opacity: 1;
			}
		}
	}
	
}

.summary-grid {
	margin: $m 0;
	padding-bottom: $m;
	> .grid {
		padding: $m;
		padding-bottom: 0;
		width: 100%;
		> a {
			width: 50%;
			color: white;
			position: relative;
			&:nth-child(odd) {
				padding-right: $hm;
			}
			&:nth-child(even) {
				padding-left: $hm;
			}
			> .media {
				width: 100%;
				opacity: 0.5;
				> img, > canvas {
					aspect-ratio: 3 / 2;
				}
			}
			> .label {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0; left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	
}

.summary-list {
	
	> div {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-bottom: 20px;

		> div {
			padding-left: $m;
		}

		> .media {
			max-width: 100px;
		}

		> div:nth-child(3) {
			flex: 1;
		}
	}
}

.summary-teaser {

	> div:nth-child(1) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	> div:nth-child(2) {

		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	
		padding-bottom: 2px;
	}
}

