@font-face {
	font-family: 'butler';
	src: url('../font/butler/Butler.woff2') format('woff2'),
		url('../font/butler/Butler.woff') format('woff');
}

@font-face {
	font-family: 'butler-black';
	src: url('../font/butler/Butler-Black.woff2') format('woff2'),
		url('../font/butler/Butler-Black.woff') format('woff');
}

@font-face {
	font-family: 'evolventa';
	src: url('../font/evolventa/woff/Evolventa-Regular.woff') format('woff');
}

@font-face {
	font-family: 'evolventa-bold';
	src: url('../font/evolventa/woff/Evolventa-Bold.woff') format('woff');
}