
@import 'globals.scss';


.byline {
	text-align: center;
}

.route {
	
	opacity: 0;
	animation: fadeIn 0.32s cubic-bezier(0.215, 0.610, 0.355, 1);
	animation-fill-mode: forwards;

	a {
		color: white;
	}
	
	text-align: center;
	h2 {
		font-family: 'butler-black';
	}

	.clamp-width {
		width: min(600px, 100%);
		margin: auto;
	}

	.stats {
		margin: auto;
		padding: $m;
		text-align: center;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		> div {
			> div:nth-child(1) {
				color: $brocolli;
				text-transform: uppercase;
			}
			> div:nth-child(2) {
				font-family: 'evolventa-bold'
			}
		}
	}

}