body {
	width: 100%;
	align-items: center;
}

#root {
	margin: auto;
}

nav {
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	margin-left: -16px;
	padding: 0 16px;
}

.mobile-menu {
	background: white;
	z-index: 1000;
	position: fixed;
	top: 57px;
	width: 100%;
	height: 100%;
	margin-left: -16px;
	padding: 16px;
	display: none;
	&.true {
		display: block;
	}
}

.content {
	margin-top: 73px;
}


.crumbs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
	> div:nth-child(2) {
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 4px;
		padding: 4px;
	}
}

.form {
	margin-top: 16px;
	
}

.token-image {
	max-width: 400px;
	> img {
		width: 100%;
		object-fit: cover;
		object-position: center top;
		aspect-ratio: 1 / 1;
		overflow: hidden;
		border-bottom-left-radius: 15%;
	}
}

.form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	> label, > input[type="checkbox"] {
		margin-bottom: 16px;
	}
	> input[required] {
		border-bottom-color: var(--primary);
	}
}

.button-row {
	display: flex;
	justify-content: center;
	align-items: center;
	> button {
		margin-right: 8px;
		margin-left: 8px;
	}
	> button:first-of-type {
		margin-left: 0;
	}
	> button:last-of-type {

		margin-right: 0;
	}
}

.offers {
	margin-bottom: 16px;
}

.offer:nth-child(odd), .current-offer > .offer {
	background: #eef;
}

.offer.sale {
	background: #fee;
}

.offer {
	padding: 8px;
	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
