$blackberry: #030504;
$lime: #C7F94F;
$brocolli: #5FBDB5;
$melon: #FF6187;
$plum: #F2F3F2;
$avocado: #003932;
$rambutan: #F2F3F2;

$light-gradient: linear-gradient(to bottom, $lime, $brocolli);
$light-gradient-right: linear-gradient(to right, $lime, $brocolli);

$m: 16px;
$hm: 8px;